<template>
  <nb-container>
    <nb-header>
      <nb-left>
        <nb-button
          transparent
          :onPress="() => this.props.navigation.openDrawer()"
        >
          <nb-icon name="menu" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title>Buscador de Animes </nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
    <view>
      <nb-item>
        <nb-icon active name="search" />
        <nb-input placeholder="Buscar" v-model="query_search"/>
         <button
        v-bind:on-press="searchAnime"
        title="Buscar"
        color="#841584"
        accessibility-label="search"
    />
      </nb-item>
      
    </view>
    <nb-list-item icon>
        <nb-right>
          <nb-picker
            note
            mode="dropdown"
            :style="{ width: 100 }"
            :selectedValue="genre"
            :onValueChange="genreValue"
          >
            <item v-for="(genre, index) in genres" :key="index" :label="genre" :value="index" />
            
          </nb-picker>
        </nb-right>
        <nb-right>
          <nb-picker
            note
            mode="dropdown"
            :style="{ width: 100 }"
            :selectedValue="year"
            :onValueChange="yearValue"
          >
            <item v-for="(year, index) in years" :key="index" :label="year" :value="year" />
            
          </nb-picker>
        </nb-right>
        <nb-right>
          <nb-picker
            note
            mode="dropdown"
            :style="{ width: 100 }"
            :selectedValue="order"
            :onValueChange="orderValue"
          >
            <item label="Ascendente" value="asc" />
            <item label="Descendente" value="dsc" />
            
          </nb-picker>
        </nb-right>
      </nb-list-item>
    <scroll-view>
      <nb-content padder>
        <view v-for="(character, index) in characters" :key="index">
          <nb-card>
            <nb-card-item bordered>
              <nb-left>
                <nb-thumbnail :source="logo"></nb-thumbnail>
                <nb-body>
                  <nb-text>Nombre: {{ character.title }}</nb-text>
                  <nb-text note>Clasificacion: {{ character.rated }}</nb-text>
                  <nb-text note>Año: {{ character.start_date }}</nb-text>
                </nb-body>
              </nb-left>
            </nb-card-item>

            <nb-card-item>
              <nb-body>
                <image
                  :source="{ uri: character.image_url}"
                  class="card-item-image"
                  :style="stylesObj.cardItemImage"
                />
                <text class="text-container">
                   Episodios: {{character.episodes}}
                </text>
                <text class="text-container">
                    Puntuacion: {{character.score}}
                </text>
                <text class="text-container">
                   Sinopsis: {{ character.synopsis }}
                </text>
               
              </nb-body>
            </nb-card-item>
          </nb-card>
        </view>
      </nb-content>
    </scroll-view>
    <view :style="{ flex: 1, justifyContent: 'center' }" v-if="loading">
      <activity-indicator size="large" color="gray" />
    </view>
  </nb-container>
</template>

<script>
import axios from "axios";
import { Dimensions } from "react-native";
import logo from "../../../assets/logo_jk.png";
import { Picker } from "native-base";
const deviceWidth = Dimensions.get("window").width;

function rangeYear () {
  const max = new Date().getFullYear()
  const min = max - 50
  const years = []

  for (let i = max; i >= min; i--) {
    
      years.push(i.toString())
  }
  return years
}

const genres= ['Accion', 'Aventuras', 'Autos', 'Comedia', 'Demonios', 'Misterio', 'Drama', 'Ecchi', 'Fantasia', 'Juegos', 'Hentai', 'Historia', 'Horror', 'ninos', 'Artes marciales', 'Mecha', 'Musica', 'Parodia', 'Samurai', 'Romance', 'Escuelas', 'Sci fi', 'Shoujo', 'Shoujo ai', 'Shounen', 'Espacio', 'Deportes', 'Super Poderes', 'Vampiros', 'Yaoi', 'yuri', 'Harem', 'Slice of life', 'Supernatural', 'Military', 'Policias', 'Psicologico', 'thriller', 'Seien', 'Josei']


export default {
  
  components: { Item: Picker.Item },
  data: function () {
    return {
      
      selected1: "key1",
      logo,
      loading: false,
      characters: [],
      query_search: "",
      offset: 0,
      genre:"",
      year:"",
      order:"",
      stylesObj: {
        cardItemImage: {
          resizeMode: "cover",
          width: deviceWidth / 1.18,
        },
      },
      genres: genres,
      years:rangeYear()
    };
  },
  methods: {
     genreValue(value) {
       console.log(value)
      this.genre = value;
    },
    yearValue(value) {
      console.log(value)
      this.genre = value;
    },
    orderValue(value) {
      console.log(value)
      this.genre = value;
    },
    searchAnime: function(){
      this.characters.length = 0
      this.getData(this.query_search)
    },

    getData: function (query) {
      let uri = "https://api.jikan.moe/v3/search/anime";
      this.loading = true;
      axios
        .get(uri, {
          params: {
            q: query,
            page: 1,
            start_date:"yyyy-mm-dd"
          },
        })
        .then((result) => {
          let response = result.data.results;
          for (let i in response) {
            var year = response[i].start_date.slice(0, 4);
            response[i].start_date = year;
            this.characters.push(response[i]);
          }
          this.offset = parseInt(this.offset) + parseInt(10);
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.mb-15 {
  margin-bottom: 15;
}
.card-item-image {
  align-self: center;
  height: 400;
}
.text-container {
  color: rgb(0, 0, 0);
  padding: 2;
  font-size: 15;
}
</style>