<template>
  <nb-container>
     <nb-header>
      <nb-left>
        <nb-button
          transparent
          :onPress="() => this.props.navigation.openDrawer()"
        >
          <nb-icon name="menu" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title>Breaking Bad</nb-title>
      </nb-body>
      
    </nb-header>
       

    <scroll-view
      :on-scroll="
        (event) => {
          loadMore(event);
        }
      "
      :scroll-event-throttle="400"
    >
      <nb-content padder>
        <view v-for="(character, index) in characters" :key="index">
          <nb-card>
            <nb-card-item bordered>
              <nb-left>
                <nb-thumbnail :source="logo"></nb-thumbnail>
                <nb-body>
                  <nb-text>Nombre: {{ character.name }}</nb-text>
                  <nb-text note>Cumpleaño: {{ character.birthday }}</nb-text>
                </nb-body>
              </nb-left>
            </nb-card-item>

            <nb-card-item>
              <nb-body>
                <image
                  :source="{ uri: character.img }"
                  class="card-item-image"
                  :style="stylesObj.cardItemImage"
                />
                <text class="text-container">
                   Estado: {{character.status}}
                </text>
                <text class="text-container">
                    Apodo: {{character.nickname}}
                </text>
                <text class="text-container">
                   Interpretado por: {{ character. portrayed }}
                </text>
              </nb-body>
            </nb-card-item>
          </nb-card>
        </view>
      </nb-content>
    </scroll-view>
    <view :style="{ flex: 1, justifyContent: 'center' }" v-if="loading">
      <activity-indicator size="large" color="gray" />
    </view>
  </nb-container>
</template>

<script>
import axios from "axios";
import { Dimensions } from "react-native";
import logo from "../../../assets/br.png";
const deviceWidth = Dimensions.get("window").width;
export default {
  data: function () {
    return {
      logo,
      loading: false,
      characters: [],
      per_page: 15,
      offset: 0,
      stylesObj: {
        cardItemImage: {
          resizeMode: "cover",
          width: deviceWidth / 1.18,
        },
      },
    };
  },
  mounted: function () {
    this.getData();
  },
  methods: {
    getData: function () {
      let uri = "https://www.breakingbadapi.com/api/characters";
      this.loading = true;
      axios
        .get(uri, {
          params: {
            limit: this.per_page,
            offset: this.offset,
          },
        })
        .then((result) => {
          let response = result.data;
          console.log(this.offset);
          for (let i in response) {

            if(response[i].status === "Deceased"){
              response[i].status = "Fallecido"
            }else {
              response[i].status = "Vivo"
            }
            
            
            this.characters.push(response[i]);
          }
          this.offset = parseInt(this.offset) + parseInt(10);
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    loadMore: function (event) {
      let paddingToBottom = 0;
      paddingToBottom += event.nativeEvent.layoutMeasurement.height;
      if (
        event.nativeEvent.contentOffset.y >=
        event.nativeEvent.contentSize.height - paddingToBottom
      ) {
        this.getData();
      }
    },
  },
};
</script>

<style>
.mb-15 {
  margin-bottom: 15;
}
.card-item-image {
  align-self: center;
  height: 500;
}
.text-container {
  color: rgb(0, 102, 0);
  padding: 2;
  font-size: 15;
}
</style>