<template>
  <root>
    <app-navigation></app-navigation>
  </root>
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
  createDrawerNavigator
} from "vue-native-router";
import { Root } from "native-base";
import HomeScreen from "./screens/home/index.vue";
import SideBarScreen from "./screens/sidebar/index.vue";
import ToDoApp from "./screens/todo/index";
import passwordgen from "./screens/passwordgen/";
import ecuacion2do from "./screens/ecuacion2dogrado/index"
import characters from "./screens/characters";
import AnimeSearch from "./screens/Animes/index"
import Geom from "./screens/geomtria/index"
const Drawer = createDrawerNavigator(
  {
    Home: { screen: HomeScreen },
    ToDoApp: { screen: ToDoApp },
    passwordgen: { screen: passwordgen },
    ecuacion: {screen: ecuacion2do},
    characters: {screen: characters},
    anime: {screen:AnimeSearch},
    Geom : {screen: Geom}
  },
  {
    initialRouteName: "Home",
    contentOptions: {
      activeTintColor: "#e91e63"
    },
    contentComponent: SideBarScreen
  }
);

const AppNavigation = createAppContainer(
  createStackNavigator(
    {
      Drawer: { screen: Drawer }
     
    },
    {
      initialRouteName: "Drawer",
      headerMode: "none"
    }
  )
);
export default {
  components: { Root, AppNavigation }
};
</script>
